<div class="spinner-border @BootstrapColor" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

@code{
	[Parameter]
	public string BootstrapColor { get; set; } = "text-primary";
}